.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 0;
}

.heading {
  font-weight: 600;
  /* font-size: 2.1rem; */
  margin: 0 auto;
  max-width: 900px;
  color: #000;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.heading span {
  background-clip: text;
  background-image: linear-gradient(to right, #2f3f4860, #1369b9);
  color: transparent;
}

.toolbar {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.colors {
  display: flex;
  gap: 20px;
  padding: 0 30px;
}

.colors .color {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #121618;
}
.colors .active {
  border: 2px solid #000;
}

.toolbar button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #27363e5b;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.toolbar button svg {
  height: 20px;
  width: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
